@{
    ViewData["Title"] = "Estadísticas";
}



<h1>Estadísticas</h1>
<hr />
<br />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Registros por año</h6>
    </div>
    <div class="card-body" style="margin-left: 30px; margin-right: 30px">
        <canvas id="grafica1" width="400" height="150"></canvas>
    </div>
</div>



@section Scripts{
    <!-- Charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script>
        $(document).ready(function () {
            var ctx = $("#grafica1");
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['2012', '2018', '2019', '2020'],
                    datasets: [{
                        label: 'Registros por año',
                        data: [1, 1, 2, 5],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',

                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',

                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        });
     

    </script>
}


